body {
    height: 100vh;
    width: 70vw;
    min-width: 700px;
    max-width: 1000px;
    margin: auto;
}

#header-container {
    text-align: left;
    height: 10%;
    position: relative;
}

h1 {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    display : inline-block;
}

#process-type-title {
    display: inline-block;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    list-style-type : none;
    display: inline-block;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

li {
    display: inline-block;
    padding-right: 15px;
}

#image-container {
    height: 80%;
    width: 100%;
    background-color: rgb(199, 196, 196);
    border: 2px black solid;
    position: relative;
    display: flex;
}

#image-container div {
    margin: auto;
    position: relative;
}

.crop-line {
    position: absolute;
    background-color: rgb(204,204,0);
    cursor: grab;

}

#left{
    height: 100%;
    width: 4px;
    left: 0px;
}

#right{
    height: 100%;
    width: 4px;
    right: 0px;
}

#top{
    width: 100%;
    height: 4px;
    top: 0px;
}

#bottom{
    width: 100%;
    height: 4px;
    bottom: 0px;
}


form {
    padding-bottom: 10px;
}

#image {
    width: 100%;
    pointer-events: none;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}